/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('plan.jpg');
    background-size: cover;
    font-family: sans-serif;
    color: #2d2828;
  }
  
  .navbar {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
  }
  
  .home-button {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  .text-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .home-button {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: flex;
    align-items: center; /* Yatay hizalama */
}

.home-button img {
    width: 20px; /* veya istediğiniz boyut */
    margin-right: 5px; /* İkon ile metin arasındaki boşluk */
}

  .text-box p {
    margin: 0;
  }
  