/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    background-image: url('arkaplan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }
 
  .main-content {
    color: #000000;
    font-family: sans-serif;
    font-weight: bold; /* Yazıyı kalın yapmak için */
   
  }
  

/* Diğer stiller (Navbar, Hero, Services, Footer) */
.navbar-brand img {
    height: 40px;
}
.search-bar input {
    padding: 0.5rem;
    margin-right: 0.5rem;
}
.search-bar button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.hero h1 {
    font-size: 2.5rem;
}
.hero p {
    font-size: 1.2rem;
}
.services .service {
    text-align: center;
}
footer {
    background-color: #181818;
    color: #000;
    padding: 1rem 0;
    text-align: center;
}
